u{
    color:#91a0ff;
}
u:hover{
    color:#cad4ff;
}
h1{
    margin-top:100px;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 2vw;
    color: white;
}
.container{
    margin-right:17vw;
    margin-left: 17vw;
}
.container-how{
    margin-top: 4vw;
    border-top: solid 5px white;
    border-bottom: solid 5px white;
}
body{
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    background-repeat: no-repeat;
    background-position: 100%;
    background-attachment: fixed;
}

p{
    font-size: 1.2vw;
    font-weight: 300;
}
h2{
    font-size: 1.7vw;
    font-weight: 300;
    margin-bottom: 3vw;
    margin-top: 4vw;
}
.white{
    background-color: rgba(88, 40, 90, 0.2);
    border:rgb(235, 241, 255) solid 5px;
}
.sections{
    text-align: left;
}


.white-intro{
    padding-top: 2vw;
    padding-bottom: 2vw;
    padding-left: 3vw;
    padding-right: 3vw;
    line-height: 1.7vw;;
    border-radius: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5vw;
    width: 50%;
    color: white;
}
.image{
    display: block;
    margin-right: auto;
    margin-left:auto;
    width: 50vw;
    margin-bottom: 5vw;
}
.container-how{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5vw;
}
h3{
    font-size: 1.5vw;;
}
.sections1 h3, .sections3 h3, .sections5 h3{
text-align: right;
margin-right: 2.5vw;
}
.sections{
    padding-left: 3vw;
    background-color: white;
    margin-top: 5vw;
    border-radius: 10px;
    line-height: 1.23;
    padding-right: 3vw;
    padding-top: 1.5vw;
    padding-bottom: 2vw;
}
.sections1{
    margin-right: -2vw;
    margin-left:6vw;
    background-color: #8babe6;
    border:#7898d4 solid 0.5vw;

}
.sections{
    text-align: left;
    visibility: hidden;
    color: white;
}
.sections2{
    margin-left:-2vw;
    margin-right: 6vw;
    background-color: #a8a4df;
    border:#9895c7 solid 0.5vw;
}
.sections3{
    margin-right: -2vw;
    margin-left:6vw;
    background-color: #b39dda;
    border:rgb(162, 145, 196)  solid 0.5vw;
}
.sections4{
    margin-left:-2vw;
    margin-right: 6vw;
    background-color: #b4acdb;
    border:#998fc5  solid 0.5vw;
}
.sections5{
    margin-right: -2vw;
    margin-left:6vw;
    background-color: #9ea9ce;
    border:#7c89ac solid 0.5vw;
    margin-bottom: 5vw;
}
.sections section{
    margin-top:1vw;
    margin-bottom:1vw;
}
h2{
    text-align: center;
    color:white;
    font-weight: 400;
    font-size: 2.1vw;
}
.white-how{
    line-height: 1.3;
    border-radius: 40px;
    padding: 2vw 2vw 2vw 0;
}
.intro p{
    text-align: center;
}

.intro ul{
    font-size: 1.2vw;
    font-weight: 300;
}
.sections ul{
    list-style-type: disc;
    font-size: 1vw;;
    margin-bottom: 1vw;
}
.contacts ul{
        font-size: 1.2vw;
        font-weight: 300;
        list-style-type: circle;
}
.container-how.second{
    border-top: white solid 0px;
}
.contacts li{
    margin-top: 1vw;
}
@keyframes wipe-enter {
	0% {
        opacity: 0;
		transform: scale(0, 0);
	}
	50% {
		transform: scale(1, .025);
	}
    75%{
        opacity: 1;
    }
}

@keyframes slidein {
    from {
       opacity:0;
      transform: translate(0, 4em);
    }
  
    to {
        opacity: 1;
      transform: translate(0, 0);
    }
  }
@media (prefers-reduced-motion: no-preference) {
    .square-animation {
        visibility: visible;
      animation: slidein 1.2s 1;
    }
  }

@media only screen and (max-width: 1800px) and (min-width: 1001px){
    .white-intro{
        line-height: 3vw;
        width: 70%;
    }
    h3{
        font-size: 2.5vw;
    }
    .sections ul{
        font-size: 1.7vw;
    }
    .container-how{
        width: 100%;
    }
    .qr{
        width: 30vw;
    }
    .support{
        margin-top: 2vw;
        font-size: 2.5rem; 
    }
    .support1{
        margin-top: 5vw;
    }
    .back{
        right: 0vw;
        height: 67vw;
        width: 40vw;
    }
    .description{
        font-size: 2vw;
    }
    footer{
        margin-top: 8vw;
    }
    .report{
        width: 45vw;
    }
    section{
        font-size: 1.5vw;
    }
    .icon{
        width: 15vw;
    }
    p{
        font-size: 1.5vw;
    }
    li{
        font-size: 1.5vw;
    }
    .footer-container li{
        font-size: 1.7vw;
    }
    h1{
        font-size: 5.5vw;
    }
    h2{
        font-size: 2.7vw;
    }
    .contact-info{
        margin-right: 20vw;
        margin-left: -9vw;
    }
    .footer-container{
        margin-left: 3vw;
        margin-right: 3vw;
    }

}
@media only screen and (max-width: 1600px) and (min-width: 1001px){
    .back{
        visibility: hidden;
    }
    .report{
        width: 60vw;
    }
    .contact-info{
        margin-right: 0vw;
        margin-left: 0vw;
    }
    .footer-container{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .not{
        border-radius: 5px;
        margin-right:-8vw;
        margin-left: -8vw;
    }
    p{
        font-size: 2vw;
    }
    section{
        font-size: 2vw;
    }
    li{
        font-size: 2vw;
    }
    .footer-container li{
        font-size: 2vw;
    }
    .footer-container{
        margin-left: 1vw;
        margin-right:1vw;
    }
    .image{
        width: 65vw;
    }
    .sections1{
        margin-right: -2vw;
        margin-left:-2vw;
    }
    
    .sections2{
        margin-right: -4vw;
        margin-left:-4vw;
    }
    .sections3{
        margin-right: -6vw;
        margin-left:-6vw;
    }
    .sections4{
        margin-right: -8vw;
        margin-left:-8vw;
    }
    .sections5{
        margin-right: -10vw;
        margin-left:-10vw;
    }
    .section22{
        margin-right: -12vw;
        margin-left:-12vw;
    }
    .section11{
        margin-right: -14vw;
        margin-left:-14vw;
    }
    .sections h3{
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    .container{
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .white-intro{
        line-height: 5vw;
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
    .container-how{
        width: 100%;
    }
    .image{
        width: 90vw;
    }
    .support1{
        margin-top: 10vw;
    }
    .qr{
        width: 40vw;
        margin-bottom: 15vw;
    }
    .support{
        font-size: 1.5rem; 
    }
    .description{
        font-size: 3vw;
    }
    h1{
        margin-top: 50px;
        font-size: 8vw;
        margin-bottom: 8vw;
    }
    .report{
        width: 80vw;
    }
    .not{
        margin-right:-8vw;
        margin-left: -8vw;
    }
    p{
        font-size: 3vw;
    }
    h2{
        margin-top: 10vw;
        font-size: 5vw;
        margin-bottom: 5vw;
    }
    .intro ul{
        font-size: 3vw;
        padding-inline-start: 6vw;
        }
    .white-intro{
        padding-left: 6vw;
        padding-right: 3vw;
        }
    .outer{
        margin-left: 2vw;
        margin-right: 2vw;
        line-height: 2;
        }
    .white-why, .white-how{
        padding: 3vw 3vw 5vw 5vw;
    }
    .image{
        margin-top: 3vw;
        display: block;
        margin-left:auto;
        margin-right: auto;
    }
    .sections{
        border-radius: 5px;
    }
    .sections1{
        margin-right:8vw;
        margin-left:8vw;
        border:#7898d4  solid 1vw;
    }

    .sections2{
        margin-left: 6vw;
        margin-right: 6vw;
        border:#9895c7 solid 1vw;
    }
    .sections3{
        margin-right: 4vw;
        margin-left:4vw;
        border:rgb(162, 145, 196)  solid 1vw;
    }
    .sections4{
        margin-left:2vw;
        margin-right: 2vw;
        border:#998fc5 solid 1vw;
    }
    .sections5{
        margin-right: 0vw;
        margin-left:0vw;
        border:#7c89ac solid 1vw;
    }
.sections h3{
    font-size: 4vw;
    text-align: center;
}
.sections1{
    margin-top: 10vw;
}
.sections{
    margin-bottom: 15vw;
}
.sections ul{
    font-size: 3vw;;
}
.container-how{
    border-top: 0px solid white;
    margin-top: 20vw;
    border-bottom: 0px;
}
    .icon{
        width: 23vw;
    }
    th{
        padding: 5px;
    }
    section{
        font-size: 2.7vw;
    }
    .back{
        right: 0vw;
        height: 30vw;
        position: absolute;
    }
    .footer-container li{
        font-size: 3.2vw;
    }
    .contacts ul{
        font-size: 3vw;
    }
    .footer-container li{
        display:initial;
    }
    .contact-info{
        margin-right: -3vw;
        margin-left: -3vw;
    }
    .footer-container{
        flex-direction: column;
        justify-content:center;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-container li{
        text-align: center;
        display: block;
        margin-bottom: 10vw;
        font-size: 5vw;
    }
    .footer-container a:first-child{
        margin-top:10vw;
    } 
    .footer-container a:last-child{
        margin-bottom:10vw;
    } 
    footer{
        margin-top: 0vw;
        height: 80px;
    }
}