*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(to right top, #dec9a9, #e1caa6, #e4cca4, #e7cda1, #eacf9e, #edcf98, #efd093, #f2d08d, #f5d083, #f8cf7a, #facf6f, #fdce65);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}
h1{
    margin-top:100px;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: -2vw;
    color:#552c2c;
}

p{
    font-size: 1.2vw;
    font-weight: 300;
}

.container{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.book{
    width: 26vw;
    height: 40vw;
    box-shadow: 5px 3px 10px rgb(80, 78, 78);
    position: relative;
    display:flex;
    align-items: center;
}
.paper{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    perspective: 1500px;
}
img{
    height: 1000px;
    width: 100%;
    object-fit:cover;
}
button{
    cursor: pointer;
    width: 10vw;
    background: none;
    border: none;
    margin: 5vw;
}
.front,.back{
    background-color: #fff7ed;
position: absolute;
width: 100%;
height:100%;
top:0;
left:0;
transform-origin: left;
transition: transform 0.5s;
}
.front{
    z-index: 1;
    backface-visibility: hidden;
}
.back{
    z-index: 0;
}
img.button{
    height: 6vw;
}
.back-content, .front-content{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.back-content{
    transform:rotateY(180deg);
}
.back-content:first-child{
    box-shadow: -40px 0px 20px 0px rgb(0, 0, 0, 0.2) inset;
}
.front-content:first-child{
    box-shadow: 0px 0px 10px 0px #000 inset;
}

.next-btn, .prev-btn{
    z-index: 0;
}
#p1{
    z-index: 3;
}
#p2{
    z-index: 2;
}
#p3{
    z-index: 1;
}
/* Paper flipp effect*/
.flipped .front, .flipped .back{
    transform:rotateY(-180deg);
}
#flipbook{
    margin-left: 0vw;
    margin-bottom: 0vw;
}

@media only screen and (max-width: 1800px) and (min-width: 1001px){
    .qr{
        width: 30vw;
    }
    .support{
        margin-top: 2vw;
        font-size: 2.5rem; 
    }
    .support1{
        margin-top: 5vw;
    }
    .back{
        right: 0vw;
        height: 67vw;
        width: 40vw;
    }
    .description{
        font-size: 2vw;
    }
    footer{
        margin-top: 8vw;
    }
    .report{
        width: 45vw;
    }
    section{
        font-size: 1.5vw;
    }
    .icon{
        width: 15vw;
    }
    p{
        font-size: 1.5vw;
    }
    li{
        font-size: 1.5vw;
    }
    .footer-container li{
        font-size: 1.7vw;
    }
    h1{
        font-size: 5.5vw;
    }
    h2{
        font-size: 2.7vw;
    }
    .contact-info{
        margin-right: 20vw;
        margin-left: -9vw;
    }
    .footer-container{
        margin-left: 3vw;
        margin-right: 3vw;
    }

}
@media only screen and (max-width: 1600px) and (min-width: 1001px){
    .back{
        visibility: hidden;
    }
    .report{
        width: 60vw;
    }
    .contact-info{
        margin-right: 0vw;
        margin-left: 0vw;
    }
    .footer-container{
        margin-left: 10vw;
        margin-right: 10vw;
    }
    .not{
        border-radius: 5px;
        margin-right:-8vw;
        margin-left: -8vw;
    }
    p{
        font-size: 2vw;
    }
    section{
        font-size: 2vw;
    }
    li{
        font-size: 2vw;
    }
    .footer-container li{
        font-size: 2vw;
    }
    .footer-container{
        margin-left: 1vw;
        margin-right:1vw;
    }
    .image{
        width: 65vw;
    }
    .sections1{
        margin-right: -2vw;
        margin-left:-2vw;
    }
    
    .sections2{
        margin-right: -4vw;
        margin-left:-4vw;
    }
    .sections3{
        margin-right: -6vw;
        margin-left:-6vw;
    }
    .sections4{
        margin-right: -8vw;
        margin-left:-8vw;
    }
    .sections5{
        margin-right: -10vw;
        margin-left:-10vw;
    }
    .section22{
        margin-right: -12vw;
        margin-left:-12vw;
    }
    .section11{
        margin-right: -14vw;
        margin-left:-14vw;
    }
}

@media only screen and (max-width: 1000px) {
    .support1{
        margin-top: 10vw;
    }
    .qr{
        width: 40vw;
        margin-bottom: 15vw;
    }
    .support{
        font-size: 1.5rem; 
    }
    .description{
        font-size: 3vw;
    }
    h1{
        margin-top: 50px;
        font-size: 8vw;
        margin-bottom: 3vw;
    }
    .report{
        width: 80vw;
    }
    .white-intro, .white-how, .white-why{
        border-radius: 5px;
        margin-right:-5vw;
        margin-left: -5vw;
    }
    .not{
        margin-right:-8vw;
        margin-left: -8vw;
    }
    p{
        font-size: 3vw;
    }
    h2{
        font-size: 5vw;
    }
    .intro ul{
        font-size: 3vw;
        padding-inline-start: 6vw;
        }
    .white-intro{
        padding-left: 3vw;
        padding-right: 3vw;
        }
    .outer{
        margin-left: 2vw;
        margin-right: 2vw;
        line-height: 2;
        }
    .white-why, .white-how{
        padding: 3vw 3vw 5vw 5vw;
    }
    .image{
        width: 70vw;
    }
    .sections{
        border-radius: 5px;
    }
    .sections1{
        margin-right: 0vw;
        margin-left:0vw;
        border:#d8b145 solid 1vw;
    }

    .sections2{
        margin-left: -2vw;
        margin-right: -2vw;
        border:#7ace6a solid 1vw;
    }
    .sections3{
        margin-right: -4vw;
        margin-left:-4vw;
        border:#57dae4 solid 1vw;
    }
    .sections4{
        margin-left:-6vw;
        margin-right: -6vw;
        border:#a0cf47 solid 1vw;
    }
    .sections5{
        margin-right: -8vw;
        margin-left:-8vw;
        border:#577de4 solid 1vw;
    }
    .section22{
        border:#57dae4 solid 1vw;
        margin-right: -10vw;
        margin-left:-10vw;
    }

    .section11{
        margin-right: -12vw;
        margin-left:-12vw;
    }
    .icon{
        width: 23vw;
    }
    th{
        padding: 5px;
    }
    section{
        font-size: 2.7vw;
    }
    .back{
        right: 0vw;
        height: 30vw;
        position: absolute;
    }
    .footer-container li{
        font-size: 3.2vw;
    }
    .contacts ul{
        font-size: 3vw;
    }
    .footer-container li{
        display:initial;
    }
    .contact-info{
        margin-right: -3vw;
        margin-left: -3vw;
    }
    .footer-container{
        flex-direction: column;
        justify-content:center;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-container li{
        text-align: center;
        display: block;
        margin-bottom: 10vw;
        font-size: 5vw;
    }
    .footer-container a:first-child{
        margin-top:10vw;
    } 
    .footer-container a:last-child{
        margin-bottom:10vw;
    } 
    footer{
        margin-top: 0vw;
        height: 80px;
    }
}